* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.contenedor {
  background-color: blueviolet;
  padding: 24px;
  max-width: 400px;
  border-radius: 12px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: blue;
}

.peliculas {
  list-style: none;
}

.pelicula {
  padding: .8rem 5rem;
  color: black;
  margin-bottom: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.fondo-uno {
  background-color: aqua;
}



.fondo-dos {
  background-color: rgb(0, 255, 76);
}

.fondo-uno:hover,
.fondo-dos:hover {
  background-color: white;
}