* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.ingredientes {
  width: 300px;
  margin: 0 auto;
  border: 2px solid lightcoral;
  padding: 1rem;
}

.subtitulo {
  margin-bottom: 2rem;
}

.lista {
  list-style: none;
}

.botana {
  padding: .5rem .3rem;
}

.semilla {
  background-color: rgb(82, 47, 40);
}

.picante {
  background-color: brown;
}